{% extends 'layout.html' %}
{% block content %}
    <div class="container">
    <div style="margin-bottom: 10px">
        <a class="btn btn-primary" href="/admin_add/">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            新建管理员
        </a>
    </div>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          管理员列表
      </div>
      <!-- Table -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>密码</th>
              <th>重置密码</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        {% for user in manage_list %}
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
             <td>{{ user.password }}</td>
{#              <td>{{ user.create_time|date:"Y-m-d H:i:s"}}</td>#}
              <td><a class="btn btn-primary btn-xs" href="/admin_reset/{{ user.id }}/">重置密码</a></td>
            <td>
                <a class="btn btn-primary btn-xs" href="/admin_edit/{{ user.id }}/">编辑</a>
                <a class="btn btn-danger btn-xs" href="/admin_del/{{ user.id }}/">删除</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    <ul class="pagination">
        {{page_string }}
        </ul>
    </div>
</div>
</div>

{% endblock %}