<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugings/bootstrap-3.4.1-dist/css/bootstrap.css' %}" >
    <link rel="stylesheet" href="/plugings/bootstrap-3.4.1-dist/css/bootstrap.css">
    <style>
        .account{
            width: 400px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow: 5px 5px 20px #aaa;

            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            padding: 20px 40px;
        }
        .account h2 {
            margin-top: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="account">
    <h2>用户登录</h2>
    <form method="post" novalidate class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">用户名</label>
{#            <input type="email" class="form-control" id="exampleInputEmail1"placeholder="用户名">#}
            {{ form.name }}
            <span style="color: red">{{ form.name.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">密码</label>
{#            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="密码">#}
            {{ form.password }}
            <span style="color: red">{{ form.password.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label for="id_code">图片验证码</label>
            <div class="row">
                <div class="col-xs-7">
{#                    <input type="text"name="code" class="form-control" placeholder="请输入图片验证码" nequired="" id="id_code"><span style="color: red;"></span>#}
                    {{ form.code }}
                    <span style="color: red">{{ form.code.errors.0 }}</span>
                </div>
                <div class="col-xs-5">
                    <img id="image_code"  src="/img_code/" style="width: 125px;">
                </div>
            </div>
        <input type="submit" value="登录" class="btn btn-primary">
    </form>
    </div>
</body>
</html>