{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="container">
    <form method="post" enctype="multipart/form-data">
{#        这样才可以传文件 enctype="multipart/form-data"#}
        <div class="form-group" >
            <input type="text"name="username" >
            <label for="exampleInputFile">File input</label>
            <input type="file" name="image">
            <p class="help-block">Example block-level help text here.</p>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}