{% extends 'layout.html' %}
{% block content %}
    <div class="container">
    <div style="margin-bottom: 10px">
        <a class="btn btn-primary" href="/user_add">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            新增员工
        </a>
         <div class="col-lg-6" style="float: right; width: 300px">
           <form method="get">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for..." name="q" value="{{ seacher_data }}">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
        </div>
           </form>
    </div>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          员工列表
      </div>
      <!-- Table -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>密码</th>
              <th>性别</th>
            <th>年龄</th>
              <th>账户余额</th>
              <th>部门</th>
              <th>入职时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        {% for user in user_list %}
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
             <td>{{ user.password }}</td>
              <td>{{ user.get_gender_display}}</td>
             <td>{{ user.age }}</td>
              <td>{{ user.account}}</td>
              <td>{{ user.depart.title}}</td>
              <td>{{ user.create_time}}</td>
{#              <td>{{ user.create_time|date:"Y-m-d H:i:s"}}</td>#}
            <td>
                <a class="btn btn-primary btn-xs" href="/user_edit/{{ user.id }}">编辑</a>
                <a class="btn btn-danger btn-xs" href="/user_del/?nid={{ user.id }}">删除</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    <ul class="pagination">
        {{page_string }}
        </ul>
    </div>
</div>
</div>

{% endblock %}